/* Important Colours Used:
Lilac: #d7d5ed*/

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}


/* Header section */

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  z-index: 99;
  position: relative;
  max-height: 50px;
}

.nav-item {
  font-size: 1.2rem;
  display: inline-block;
  list-style: none;
  margin: 10px;
}

.nav-item a {
  text-decoration: none;
  color: #5e45b0;
}

.nav-item a:hover {
  color:#a377a7
}

.hamburger {
  display: none;
  padding: 3%;
  font-size: 1.4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5% 2%;
}

.intro-content {
  color: white;
  padding: 5% 0 10%;
  background-image: url(../images/background-image.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.intro-content > h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
}

.intro-portrait{
  width: 20%;
  border-radius: 50%;
}

.intro-text{
  font-size: 1.3rem;
  line-height: 2;
  position: relative;
  text-shadow: 2px 2px 4px #000000;
  top: 2rem;
}


/* Main section */
main {
  padding: 5% 12%;
  background-color: #fff;
}

.flex-box {
  padding: 4% 8%;
  line-height: 2;
  flex: 1 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-title {
  min-width: fit-content;
}

.flex-details {
  min-width: 35vw;
}

.see-more {
  color: #aaa;
  text-decoration: none;
  position: relative;
}

.see-more:hover {
  font-size: 1.2rem;
  color: #a377a7;
}

.languages {
  color: #dd6666;
  font-weight: 500;
}

.project-example-img {
  width: 49%;
}

@media only screen and (max-width: 700px) {
  .nav-list{
    display: none;
  }

  .hamburger {
    display: inline;
  }
}